<div>
  <h1>Super Hero Teams</h1>
  <% @teams.each do |team| %>
   <p><%= team.name %></p>
   <% end %>
</div>

<div>
  <p>
	 <h2>User Signin or Signup</h2>
  </p>
</div>

<div>
	<p>
		<h3>Login</h3>
	</p>
	<%= form_tag(login_path) do |f|%>
  <p>
	  <%= label_tag(:username) %>
	  <%= text_field_tag(:username, params[:username], autofocus: true,required: true) %>
  </p>
  <p>
	  <%= label_tag(:password) %>
	  <%= password_field_tag(:password, nil, required: true) %>
  </p>
  <p>
  	<%= submit_tag "Login" %>
  </p>
  <% end %>
</div>

<div>
  <p>
  	<h5>Or signup</h5>
  </p>
  <p>
  	<%= link_to "Signup", signup_path, class:"btn btn-info" %>
  </p>
</div>
