<div>
	<p>
		<h1>User Signup</h1>
	</p>
</div>

<%= form_for(@user, url: signup_path) do |f| %>
  <p>
	  <%= f.label(:username) %>
	  <%= f.text_field(:username, required: true, autofocus: true) %>
  </p>
  <p>
	  <%= f.label(:password) %>
	  <%= f.text_field(:password, required: true) %>
  </p>
    <p>
    <%= f.label(:is_admin) %>
    <%= f.check_box :is_admin %>
  </p>

  <%= f.submit "Signup" %>
<% end %>