<div>
	<p>
		<h1>User Signup</h1>
	</p>
</div>

<%= form_tag(new_user_path) do %>
  <p>
	  <%= label_tag(:username) %>
	  <%= text_field_tag(:username, nil, autofocus: true) %>
  </p>
  <p>
	  <%= label_tag(:password) %>
	  <%= text_field_tag(:password, nil) %>
  </p>

  <%= submit_tag "Signup" %>
<% end %>